
*.exe
*.ilk
*.log
*.ncb
*.opensdf
*.opt
*.pdb
*.pid
*.sdf
*.stackdump
*.suo
/vcproj-9/*.user
/vcproj-9/char-server_sql
/vcproj-9/login-server_sql
/vcproj-9/map-server_sql
/vcproj-9/mapcache
/vcproj-10/*.user
/vcproj-10/char-server_sql
/vcproj-10/login-server_sql
/vcproj-10/map-server_sql
/vcproj-10/mapcache
ipch
Makefile
Makefile.cache
char-server_sql
config.log
config.status
core
login-server_sql
map-server_sql
mapcache
online.html
online.txt
/conf/import